{% extends 'padrao/base.html' %}

{% block conteudo %}

<div class="container2">

    {% if produtos is empty %}
    <p class="nenhum_produto">Nenhum produto cadastrado.</p>
    {% else %}
    {% for produto in produtos %}
    <table class="tabela_produtos">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Validade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ produto.produto }}</td>
                <td>{{ produto.data_validade|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ url('produtoExcluir/' ~ produto.id) }}">
                        <i class="fa-solid fa-trash-can lixeira" style="color: black;" ></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="{% if produto.dias_restantes <= 15 %}vermelho{% elseif produto.dias_restantes <= 30 %}amarelo{% else %}verde{% endif %}">
                    {% if produto.dias_restantes < 0 %}
                        <i class="fa-solid fa-triangle-exclamation"></i> Produto vencido há <strong>{{ produto.dias_restantes|abs }} dias</strong>.
                    {% elseif produto.dias_restantes == 0 %}
                        Produto vence hoje.
                    {% else %}
                        {% if produto.dias_restantes == 1 %}
                            Falta <strong>{{ produto.dias_restantes }} dia</strong> para vencer.
                        {% else %}
                            Faltam <strong>{{ produto.dias_restantes }} dias</strong> para vencer.
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}


</div>

<footer class="footer">
    <button class="btn-abrir" id="abrirModalAdicionar"><i class="fa-solid fa-pen-to-square"></i></button>
    {{ include('modalCadastroProduto.html') }}
</footer>

{% endblock %}